<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>xss</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InfoServlet</display-name>
    <servlet-name>InfoServlet</servlet-name>
    <servlet-class>com.sec.servlet.InfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoServlet</servlet-name>
    <url-pattern>/InfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>com.sec.servlet.InfoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>store</display-name>
    <servlet-name>store</servlet-name>
    <servlet-class>com.sec.servlet.StoreServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>store</servlet-name>
    <url-pattern>/store</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>show</display-name>
    <servlet-name>show</servlet-name>
    <servlet-class>com.sec.servlet.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>show</servlet-name>
    <url-pattern>/show</url-pattern>
  </servlet-mapping>

</web-app>