<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxinet.jeesns.dao.weibo.IWeiboFavorDao">
  <resultMap id="WeiboFavorResult" type="WeiboFavor">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="weibo_id" jdbcType="INTEGER" property="weiboId" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
  </resultMap>

  <select id="find" resultMap="WeiboFavorResult">
    select * from tbl_weibo_favor where weibo_id = #{weiboId} and member_id = #{memberId}
  </select>
  <delete id="delete">
    delete from tbl_weibo_favor where weibo_id = #{weiboId} and member_id = #{memberId}
  </delete>
  <insert id="save">
    insert into tbl_weibo_favor (weibo_id,member_id,create_time)
    values (#{weiboId}, #{memberId}, now())
  </insert>
</mapper>